.bento {
    position: relative;
    min-height: 25vh;
}

.bento__image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 10;
    border-radius: var(--spacing-small);
}

.bento__content {
    position: relative;
    z-index: 20;
    padding: var(--spacing-large);
    display: flex;
    flex-direction: column;
    height: 100%;
}

.bento__content.bento__content--flex {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-large);
}

.bento__content.bento__content--flex .bento__headline {
    margin-bottom: 0;
}

.bento__headline {
    line-height: 1.25;
    margin-bottom: var(--spacing-default);
}

.bento__icon {
    width: calc(var(--spacing-x-large) * 2);
    height: calc(var(--spacing-x-large) * 2);
    color: var(--color-green-400);
}

.bento .definition-list {
    margin-bottom: var(--spacing-default);
}
