.button {
    padding: calc(var(--spacing-default) * 0.3) var(--spacing-large);
    border-radius: 100rem;
    transition: all 400ms ease-in-out;
    max-width: max-content;
}

.button.button--icon {
    width: calc(var(--spacing-x-large) * 1.5);
    height: calc(var(--spacing-x-large) * 1.5);
    padding: var(--spacing-small);
    max-width: none;
}

.button.button--primary {
    background-color: var(--color-green-500);
    color: var(--color-green-200);
}

.button.button--primary:hover {
    background-color: var(--color-green-900);
}

.button.button--secondary {
    background-color: var(--color-green-200);
    color: var(--color-green-900);
}

.button.button--secondary:hover {
    background-color: var(--color-green-300);
}
