html {
    background-color: var(--color-green-200);
    color: var(--color-green-900);
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: var(--text-base);
    line-height: 1.65;
}

@media (min-width: 64rem) {
    html {
        font-size: var(--text-lg);
    }
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}

main {
    position: relative;
    flex-grow: 1;
}

h1, h2, h3, h4 {
    line-height: 1.25;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 500;
}
