.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 80rem;
    width: 90%;
    margin: 0 auto;
    padding-top: var(--spacing-x-large);
}

