.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 80rem;
    width: 90%;
    margin: 0 auto;
    padding-top: var(--spacing-x-large);
}

.navigation__list {
    display: flex;
    flex-direction: row;
    gap: 0 var(--spacing-default);
    background-color: var(--color-green-200);
    border-radius: 100rem;
    padding: var(--spacing-small) var(--spacing-x-large);
}
