.hero__description {
    margin-bottom: var(--spacing-x-large);
}

@media (min-width: 48rem) {
    .hero__description {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: var(--spacing-large);
    }
}

.hero__description-text {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-default) 0;
}

@media (min-width: 48rem) {
    .hero__description-text {
        align-self: end;
    }
}

.hero__description-headline {
    font-weight: 500;
    color: var(--color-green-500);
    margin-bottom: var(--spacing-default);
    font-size: var(--text-4xl);
}

@media (min-width: 48rem) {
    .hero__description-headline {
        font-size: var(--text-6xl);
        margin-bottom: 0;
        align-self: end;
    }
}

@media (min-width: 64rem) {
    .hero__description-headline {
        font-size: var(--text-7xl);
    }
}

.hero__image {
    width: 100%;
    height: 100%;
    max-height: 24rem;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: var(--spacing-small);
}
