.link {
    display: flex;
    align-items: center;
    gap: var(--spacing-small);
    max-width: max-content;
    transition: all 200ms ease-in-out;
}

.link.link--active {
    color: var(--color-green-500);
}

.link:hover {
    opacity: 0.6;
}

.link__icon {
    width: var(--spacing-large);
    height: var(--spacing-large);
    transition: all 200ms ease-in-out;
}

.link:hover .link__icon {
    transform: translateX(0.15rem);
}