.navigation__button {
    background-color: var(--color-green-400);
    padding: calc(var(--spacing-default) * 0.3) var(--spacing-large);
    border-radius: 100rem;
    transition: all 200ms ease-in-out;
}

.navigation__button:hover {
    background-color: var(--color-green-500);
}

@media (min-width: 64rem) {
    .navigation__button  {
        display: none;
    }
}

.navigation__wrapper {
    display: none;
    position: absolute;
    top: calc(var(--spacing-x-large) * 3.8);
    left: 5%;
    right: 5%;
    z-index: 50;
    background-color: var(--color-green-900);
    color: var(--color-green-200);
    border-radius: var(--spacing-small);
}

.navigation__wrapper.navigation__wrapper--open {
    display: block;
}

@media (min-width: 64rem) {
    .navigation__wrapper  {
        display: block;
        background-color: transparent;
        position: static;
        color: var(--color-green-900);
    }
}

.navigation__list {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-large);
    margin: var(--spacing-x-large) var(--spacing-default);
}

@media (min-width: 64rem) {
    .navigation__list  {
        display: flex;
        flex-direction: row;
        margin: 0;
        gap: var(--spacing-x-large);
        position: relative;
    }
}

.navigation__sublist {
    display: none;
    flex-direction: column;
    gap: var(--spacing-default);
    margin-top: var(--spacing-default);
    padding-left: var(--spacing-default);
    border-left: 1px solid var(--color-green-200);
}

.navigation__sublist.navigation__sublist--open {
    display: flex;
}

@media (min-width: 64rem) {
    .navigation__sublist  {
        position: absolute;
        top: calc(var(--spacing-x-large) * 1.5);
        z-index: 50;
        width: calc(100% + var(--spacing-default));
        background-color: var(--color-green-900);
        color: var(--color-green-200);
        border-radius: var(--spacing-small);
        padding: var(--spacing-default);
        border-left: none;
    }
}

.navigation__sublist-button {
    display: flex;
    align-items: center;
    gap: var(--spacing-small);
    background-color: transparent;
}

.navigation__sublist-icon {
    width: var(--spacing-large);
    height: var(--spacing-large);
    transition: transform 200ms ease-in-out;
}

.navigation__sublist-button.navigation__sublist-button--open .navigation__sublist-icon {
    transform: rotate(180deg);
}
