.section {
    padding: calc(var(--spacing-default) * 2) 0;
}

@media (min-width: 64rem) {
    .section {
        padding: calc(var(--spacing-default) * 4) 0;
    }
}

.section.section--dark {
    background-color: var(--color-green-500);
    color: var(--color-green-200);
}

.section__inner {
    max-width: 80rem;
    width: 90%;
    margin: 0 auto;
}

.section__headline {
    font-size: var(--text-3xl);
}
