.teaser-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--spacing-default);
}

@media (min-width: 40rem) {
    .teaser-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 64rem) {
    .teaser-list {
        grid-template-columns: repeat(3, 1fr);
    }
}