@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Outfit:wght@100..900&family=Quicksand:wght@300..700&display=swap');
@import "/assets/css/components/button.css";
@import "/assets/css/components/general.css";
@import "/assets/css/components/header.css";
@import "/assets/css/components/hero.css";
@import "/assets/css/components/reset.css";
@import "/assets/css/components/section.css";

:root {
    --color-green-900: #2F2F23;
    --color-green-500: #757357;
    --color-green-400: #C9BE7E;
    --color-green-300: #E1DCB7;
    --color-green-200: #F3F1E2;
    --color-green-100: #FBFAF3;
    --color-rose-500: #B48080;
    --color-rose-400: #D29F8C;

    --spacing-small: 0.5rem;
    --spacing-default: 1rem;
    --spacing-large: 1.25rem;
    --spacing-x-large: 1.5rem;
    --spacing-2x-large: 2rem;

    --fixed-spacing-small: 8px;
    --fixed-spacing-default: 16px;
    --fixed-spacing-large: 20px;
    --fixed-spacing-x-large: 24px;
    --fixed-spacing-2x-large: 32px;

    --fixed-spacing-sections: 64px;

    /* Font size: 14px */
    --text-sm: 0.875rem;
    /* Font size: 16px */
    --text-base: 1rem;
    /* Font size: 18px */
    --text-lg: 1.125rem;
    /* Font size: 20px */
    --text-xl: 1.25rem;
    /* Font size: 24px */
    --text-2xl: 1.5rem;
    /* Font size: 28px */
    --text-3xl: 1.75rem;
    /* Font size: 32px */
    --text-4xl: 2rem;
    /* Font size: 36px */
    --text-5xl: 2.25rem;
    /* Font size: 40px */
    --text-6xl: 2.5rem;
    /* Font size: 56px */
    --text-7xl: 3.5rem;
}

@media (min-width: 48rem) {
   :root {
       --fixed-spacing-sections: 84px;
   }
}
